<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('nav', { title: 'Reader Home', user: user }) %>
    <header>
        <h1>Add New User</h1>
    </header>
    <form action="/users/add-user" method="POST" class="form">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Add User</button>
    </form>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
