<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/reader/home">Reader Home</a>
            <% if (user && user.username) { %>
                <a href="/author/home">Author Home</a>
                <span>Welcome, <%= user.username %></span>
                <a href="/auth/logout">Logout</a>
            <% } else { %>
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
            <% } %>
        </nav>
    </header>

</body>
</html>
